
.logo-link {
    display: inline-block;
    vertical-align: right;

 }
 
 .logo-image {
    max-height: 80px;
 }
 /* .top-bar {
    padding: 10px 0;
 }

 .container {
    position: relative;
 }

 .icons-container {
    position: absolute;
    top: 0;
    right: 0;
 }

 .icon-link {
    color: white;
    font-size: 15px;
    margin-right: 5px;
 } */

